<section class="first-footer">
    <div class="container">
      <div class="row center" style="margin-top:100px;margin-bottom:100px;">
        <div class="col-md-6" style="text-align:left">
          <h2>Questions?  Contact us:</h2>
          <p>techmba@gmail.com</p>
          <div class="social-media">
            <%= link_to image_tag("twitter-icon.png", :alt => "twitter-icon"), "http://www.medpreps.com" %>
            <%= image_tag("facebook-icon.png", :alt => "facebook-icon") %>
            <%= image_tag("googleplus-icon.png", :alt => "google-plus-icon") %>
            <%= image_tag("linkedin-icon.png", :alt => "linkedin-icon") %>
          </div>

        </div>
        <div class="col-md-6" style="text-align:right;">
          <%= link_to "FAQ", "#" %><br>
          <%= link_to "FAQ", "#" %><br>
          <%= link_to "FAQ", "#" %><br>
        </div>
      </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
      <p>TechMBA &copy; 2013</p>
    </div>
</footer>